<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64128017438-73cp0t2vtai7vq3llfan71q4ajflfbab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64128017438-73cp0t2vtai7vq3llfan71q4ajflfbab</string>
	<key>API_KEY</key>
	<string>AIzaSyDau4rp6xvOlcEF0mPnCFiV7A6ky88nge8</string>
	<key>GCM_SENDER_ID</key>
	<string>64128017438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LambtonCollege.BlueApron</string>
	<key>PROJECT_ID</key>
	<string>blueapron-7ebeb</string>
	<key>STORAGE_BUCKET</key>
	<string>blueapron-7ebeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64128017438:ios:1ad7ed1f1ccfe556</string>
	<key>DATABASE_URL</key>
	<string>https://blueapron-7ebeb.firebaseio.com</string>
</dict>
</plist>